.cvat-side-image-container {
    position: relative;
}

.cvat-side-image-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#cvat-side-image-background {
    z-index: 0;
}

#cvat-side-image-overlay {
    z-index: 1;
}
