.cvat-side-image-container {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.cvat-side-image-container canvas {
    /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
}

.cvat-side-image-container svg {
    position: absolute;
    top: 0;
    left: 0;
}
